// -----------------------------------------------------------------------------
// This file contains all color Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
$text-color: #222 !default;

/// Primary brand color
$primary-brand-color: #E50050 !default;

/// Secondary brand color
$secondary-brand-color: #E50050 !default;
