// -----------------------------------------------------------------------------
// This file contains all color Sass variables.
// -----------------------------------------------------------------------------

/// Colors
$black: #222f51;
$red: #eb4d4b;
$bg-color: #f5f6fa;
