<!doctype html>
<html class="no-js" lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>sqone </title>
	<meta name="description">

	<!--Mobile Meta-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Favicon-->
	<link rel="icon" type="image/png" href="images/favicon.png">

  <!-- CSS -->
  <link rel="stylesheet" href="css/site.min.css">

  <!-- Fonts -->
  <style type="text/css">
    @font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather/merriweather-bold.woff2') format('woff2'),
         url('fonts/merriweather/merriweather-bold.woff') format('woff'),
         url('fonts/merriweather/merriweather-bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather/merriweather-regular.woff2') format('woff2'),
         url('fonts/merriweather/merriweather-regular.woff') format('woff'),
         url('fonts/merriweather/merriweather-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather/merriweather-italic.woff2') format('woff2'),
         url('fonts/merriweather/merriweather-italic.woff') format('woff'),
         url('fonts/merriweather/merriweather-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}

    body {

        font-family: sans-serif;
        font-size: 16px;
        line-height: 24px;

    }
    
    .fonts-loaded body {

      font-family: Merriweather, sans-serif;

    }
  </style>
  

  <script async src="libs/picturefill.min.js"></script>

  <!--[if lt IE 9]>
    <script src="libs/lt-ie-9.min.js"></script>
  <![endif]-->

</head>
<body>

<!--[if lte IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->