@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("./Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("./Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("./Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("./Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("./Gilroy-ExtraBold.ttf") format("truetype");
}
